@charset "UTF-8";

h1 {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 3em;
  color: #0000FF;
}

p {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

#about {
  color: #00FF00;
}

.para {
  color: #FF0000;
}






